BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
TabWidth: 4
AccessModifierOffset: -4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: true
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 0
AlwaysBreakAfterDefinitionReturnType: TopLevel
AlignTrailingComments: false
